* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333344;
}

#content {
    padding: 0 20px 20px 20px;
    color: #000000;
    background-color: #FFFFFF;

    min-height: 100vh;
    max-width: 800px;
    margin: auto;
}

ul {
    margin: 10px 30px;
}

h1, h2 {
    padding-top: 25px;
}

h3, h4 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000066;
}
a:visited {
    color: #660066;
}


/* menu */

ul.menu {
    display: flex;
    margin: 20px 0;
    width: 100%;
    background-color: #CCCCFF;
    overflow-x: auto;
}

ul.menu > li {
    flex: 1 0 0;
    vertical-align: top;
    padding: 0 5px;
    text-align: center;
    display: inline-block;
    border-right: solid #FFFFFF 1px;
}

ul.menu > li.current {
    font-weight: bold;
}

ul.menu a, ul.menu a:visited {
    color: #000000;
}

/* cocktail search */

#text-search {
    float: right;
    position: relative;
}

#search-results {
    display: none;
    float: right;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    border: solid #000000 1px;
}

.search-result {
    display: block;
    margin: 0;
    padding: 0;
}

.search-result-selected {
    background-color: #CCCCFF;
}

/* ingredient search form */

#ingredient-search-form {
    visibility: hidden;
    position: absolute;
    background-color: #FFFFFF;
    border: solid #000000 1px;
    height: 300px;
    width: 250px;
}
.ingredients {
    margin-top: 25px;
    height: 245px;
    overflow-y: scroll;
}
.ingredient-category-header {
    position: absolute;
    top: 0;
    cursor: pointer;

    background-color: #CCCCFF;
    padding: 2px;
    border-right: solid #000000 1px;
    border-bottom: solid #000000 1px;
}
.ingredient-category-header.current {
    background-color: #9999CC;
}
.ingredient-category {
    display: none;
    padding-left: 10px;
}
.ingredient-option {
    display: block;
    white-space: nowrap;
}
.ingredient-checkbox:checked + label {
    font-weight: bold;
}
#ingredient-search-form > input {
    height: 30px;
    width: 45%;
}
#ingredient-clear-button {
    background-color: #FF9933;
}
#ingredient-search-form > input[type='submit'] {
    background-color: #669966;
}


/* result lists */

h2.result-header {
    margin-bottom: 20px;
    font-weight: bold;
}

.cocktail-name {
    background-color: #CCCCFF;
    margin-bottom: 5px;
    padding-left: 15px;
    font-weight: bold;
    margin-top: 20px;
}

#show-more {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    background-color: #99CCFF;
}

.more {
    display: none;
}

/* cocktail image */

.cocktail-thumbnail {
    float: left;
}
.cocktail-image {
    float: right;
}