body {
    color: #000000;
}

dl, dt, dd, ul {
    padding: 0;
    margin: 0;
}


/* categories */

ul.categories {
    margin-bottom: 20px;
}


/* search form */

.filters {
    column-count: 6;
}

.filter-select {
    display: block;
    white-space: nowrap;
}

input[type="submit"] {
    margin: 20px;
}

.similar:not(:last-child):after {
    content: ", "
}


/* result lists */

dt {
    background-color: #CCCCCC;
    margin-bottom: 5px;
    padding-left: 15px;
}

dt.cocktail-name {
    font-weight: bold;
    margin-top: 20px;
}

dt.result-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #999999;
}

ul {
    margin-left: 30px;
}
