
/Misc

[Dd]ebug/
[Bb]in/
[Oo]bj/
[Ll]og/
*.[Cc]ache
!*.[Cc]ache/

node_modules/
dist/

.vs/
*.suo
*.user
*.dbmdl
*.mdf
*.ldf
*.ndf

*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

