<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
    <title>@ViewBag.Title - Miksd</title>
</head>
<body>
    <h1>Miksd</h1>
    <p>Your guide to cocktails / mixed drinks</p>
    @RenderBody()
</body>
</html>